In [1]:
import pandas as pd
import numpy as np

In [2]:
df_knn = pd.read_csv('df_final_knn.csv')

In [35]:
df_knn[df_knn['title'].str.contains('interstella')]

,tconst,averageRating,numVotes,originalTitle,title,decade,action,adventure,animation,biography,...,Steven Spielberg,Tim Burton,Tony Scott,Walter Hill,William Wyler,Woody Allen,genres,nconst,category,primaryName
3007,tt0368667,7.8,14274.0,Interstella 5555: The 5tory of the 5ecret 5tar...,interstella 5555,2000,1,1,1,0,...,0,0,0,0,0,0,"Action,Adventure,Animation",NaN,NaN,Not specified
3600,tt0816692,8.6,1623578.0,Interstellar,interstellar,2010,0,1,0,0,...,0,0,0,0,0,0,"Adventure,Drama,Sci-Fi",nm0634240,director,Christopher Nolan

In [3]:
df_knn[df_knn['title'].str.contains('Interstellar')].shape[0] > 1

False

In [11]:
from sklearn.neighbors import KNeighborsClassifier, NearestNeighbors
from sklearn.preprocessing import StandardScaler

In [6]:
X = df_knn[['averageRating', 'numVotes','decade', 'action', 'adventure', 'animation', 'biography', 'comedy',
       'crime', 'documentary', 'drama', 'family', 'fantasy', 'film-noir',
       'history', 'horror', 'music', 'musical', 'mystery', 'news', 'romance',
       'sci-fi', 'sport', 'thriller', 'war', 'western', 'Akira Kurosawa', 'Alfred Hitchcock', 'Billy Wilder',
       'Blake Edwards', 'Brian De Palma', 'Christopher Nolan',
       'Clint Eastwood', 'Danny Boyle', 'David Cronenberg', 'David Fincher',
       'David Lynch', 'Ethan Coen', 'Francis Ford Coppola', 'George Cukor',
       'Gus Van Sant', 'Guy Ritchie', 'Hayao Miyazaki', 'Howard Hawks',
       'Ingmar Bergman', 'Joel Coen', 'Joel Schumacher', 'John Carpenter',
       'John Ford', 'John Huston', 'John Landis', 'Lars von Trier',
       'Lasse Hallström', 'Luc Besson', 'Martin Scorsese', 'Michael Haneke',
       'Mike Nichols', 'Neil Jordan', 'Oliver Stone', 'Pedro Almodóvar',
       'Peter Jackson', 'Quentin Tarantino', 'Richard Donner',
       'Richard Linklater', 'Ridley Scott', 'Rob Reiner', 'Robert Rodriguez',
       'Robert Zemeckis', 'Roman Polanski', 'Ron Howard', 'Sam Raimi',
       'Sidney Lumet', 'Stanley Kubrick', 'Stephen Frears',
       'Steven Soderbergh', 'Steven Spielberg', 'Tim Burton', 'Tony Scott',
       'Walter Hill', 'William Wyler', 'Woody Allen']]

In [56]:
scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)
df_scaled = pd.DataFrame(data = X_scaled, columns = X.columns, index = X.index)
df_scaled.insert(0, column = 'title', value = df_knn['title'])
df_scaled.insert(2, column = 'genres', value = df_knn['genres'])
df_scaled.insert(3, column = 'réalisateur', value = df_knn['primaryName'])
weights = pd.Series(np.array([3, 1, 2.5, 2.5, 2.5,2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 2.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5]), index = X.columns)

In [ ]:
df_knn.iloc[]

In [61]:
movie = input('Insere un film')

Insere un film interstellar

In [58]:
def recommandation2(movie):
    if df_knn[df_knn['title'].str.contains(movie)].shape[0] > 1:
        print("Plusieurs films contiennent ce nom, choisissez parmis l'un d'eux : ")
        return df_knn[df_knn['title'].str.contains(movie)]
    else:
        model_film = NearestNeighbors(metric = 'wminkowski', n_neighbors=10, metric_params = {"w": weights}).fit(X_scaled)
        index_reco = model_film.kneighbors(df_scaled.loc[df_scaled['title'].str.contains(movie), X.columns])
        recommended_movie = df_knn.iloc[df_knn.index.searchsorted(index_reco[1][0][0:9])]
        return recommended_movie[['title', 'averageRating', 'decade', 'primaryName', 'genres']]

In [62]:
recommandation2(movie)

,title,averageRating,decade,primaryName,genres
3600,interstellar,8.6,2010,Christopher Nolan,"Adventure,Drama,Sci-Fi"
4196,inception,8.8,2010,Christopher Nolan,"Action,Adventure,Sci-Fi"
3483,le prestige,8.5,2000,Christopher Nolan,"Drama,Mystery,Sci-Fi"
4272,gravity,7.7,2010,Not specified,"Adventure,Drama,Sci-Fi"
3025,batman begins,8.2,2000,Christopher Nolan,"Action,Adventure"
3637,avengers,8.0,2010,Not specified,"Action,Adventure,Sci-Fi"
5237,avengers: infinity war,8.4,2010,Not specified,"Action,Adventure,Sci-Fi"
4208,mad max: fury road,8.1,2010,Not specified,"Action,Adventure,Sci-Fi"
4896,premier contact,7.9,2010,Not specified,"Drama,Sci-Fi"